build/
deploy/
archive/
results/
_site/
*.suo
*.user
Source/**/bin
Source/**/Bin
src/**/bin
src/**/Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.swp
*.cache
TestResult.xml
UpgradeLog.XML
_UpgradeReport*/
src/packages
artifacts
src/CommonAssemblyInfo.cs
.bundle
logs
Gemfile.lock
pak-WebContent.zip
