source http://nuget.org/api/v2
source http://packages.nuget.org/v1/FeedService.svc

nuget Castle.Core 3.1.0
nuget Microsoft.CSharp 4.0.0 version_in_path: true
nuget NSubstitute
nuget RhinoMocks 3.6.1
nuget Shouldly
nuget Storyteller 3.0.0.274-alpha
nuget xunit 2.1.0
nuget xunit.runner.console 2.1.0
nuget xunit.runner.visualstudio 2.1.0