<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>structuremap</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats />
</ripple>