<StructureMap>
	<Assembly Name="StructureMap.UserInterface"/>
	
	<Instances>
		<StructureMap.UserInterface.Exploration.MenuItems.MenuList Type="Default" Key="Assembly">
			<Property Name="menuItems">
				<Property Type="Navigation">
					<Property Name="text" Value="Dependencies"></Property>
					<Property Name="screenKey" Value="Dependencies"></Property>
				</Property>
				<Property Type="Navigation">
					<Property Name="text" Value="Verifications"></Property>
					<Property Name="screenKey" Value="Verification"></Property>
				</Property>
			</Property>
		</StructureMap.UserInterface.Exploration.MenuItems.MenuList>
		<StructureMap.UserInterface.Exploration.MenuItems.MenuList Type="Default" Key="PluginFamily">
			<Property Name="menuItems">
				<Property Type="Navigation">
					<Property Name="text" Value="Dependencies"></Property>
					<Property Name="screenKey" Value="Dependencies"></Property>
				</Property>
				<Property Type="Navigation">
					<Property Name="text" Value="Verifications"></Property>
					<Property Name="screenKey" Value="Verification"></Property>
				</Property>
			</Property>
		</StructureMap.UserInterface.Exploration.MenuItems.MenuList>	
		<StructureMap.UserInterface.Exploration.MenuItems.MenuList Type="Default" Key="AssemblyList">
		</StructureMap.UserInterface.Exploration.MenuItems.MenuList>
		<StructureMap.UserInterface.Exploration.MenuItems.MenuList Type="Default" Key="Instance">
			<Property Name="menuItems">
				<Property Type="Navigation">
					<Property Name="text" Value="Dependencies"></Property>
					<Property Name="screenKey" Value="Dependencies"></Property>
				</Property>
				<Property Type="Navigation">
					<Property Name="text" Value="Verifications"></Property>
					<Property Name="screenKey" Value="Verification"></Property>
				</Property>
			</Property>
		</StructureMap.UserInterface.Exploration.MenuItems.MenuList>
	</Instances>
</StructureMap>
