type project
id structuremap.autofactory
authors Jimmy Bogard, Jeremy Miller
description
    AutoFactory support for StructureMap
files
    bin/Release/StructureMap.AutoFactory.* ==> lib/net40
licenseUrl https://github.com/structuremap/structuremap/raw/master/LICENSE.TXT
projectUrl http://structuremap.github.io
