<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Scoping and Lifecycle Management</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<script type="text/javascript" src="jquery-1.2.6.js"></script>
	</head>
	<body>
	<div class="left-column">

<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="http://github.com/structuremap/structuremap/downloads">Download the Latest Release</a></li>
    <li><a href="http://groups.google.com/group/structuremap-users?hl=en">StructureMap Google Group</a></li>
    <li><a href="http://github.com/structuremap/structuremap">Browse Source Code</a></li>
    <li><a href="http://dimecasts.net/Casts/ByTag/StructureMap">StructureMap on DimeCasts</a></li>
    <li><a href="http://teamcity.codebetter.com/viewType.html?buildTypeId=bt5&amp;tab=buildTypeStatusDiv">
        StructureMap CI Server on TeamCity.Codebetter.com</a></li>
    <li><a href="TableOfContents.htm">Full Table of Contents</a></li>
    <li><a href="FeatureList.htm">Feature List</a></li>
    <li><a href="StructureMap.chm">API Documentation</a></li>
</ul>
<br />
<ul>
    <li><a href="QuickStart.htm">A Gentle Quickstart</a></li>
    <li><a href="Glossary.htm">Glossary</a></li>
    <li><a href="Concepts.htm">Software Design Concepts</a></li>
    <ul>
        <li><a href="DependencyInjection.htm">Dependency Injection</a></li>
        <li><a href="InversionOfControl.htm">Inversion of Control</a></li>
    </ul>
    <li><a href="ConfiguringStructureMap.htm">Configuring StructureMap</a><ul>
        <li><a href="RegistryDSL.htm">Registry DSL</a><ul>
            <li><a href="InstanceExpression.htm">Configuring Instances</a></li>
            </ul>
        </li>
        </ul>
        <ul>
            <li><a href="XmlConfiguration.htm">Xml Configuration</a><ul>
                <li><a href="XmlReference.htm">Xml Reference</a></li>
                <li><a href="NodeNormalized.htm">Node Normalized Instances</a></li>
                <li><a href="AttributeNormalized.htm">Attribute Normalized Instances</a></li>
                </ul>
            </li>
            <li><a href="ScanningAssemblies.htm">Auto Registration and Type Scanning</a></li>
            <li><a href="Scoping.htm">Scoping, Caching, and Lifecycle Management</a></li>
            <li><a href="UsingAttributes.htm">Using Attributes</a></li>
        </ul>
    </li>
        <ul>
            <li><a href="Profiles.htm">Profiles</a></li>
            <li><a href="Interception.htm">Interception</a></li>
            <li><a href="ChangingConfigurationAtRuntime.htm">Changing Configuration at Runtime</a></li>
    </ul>
    <li><a href="RetrievingServices.htm">Retrieving Services</a></li>
    <li><a href="AutoMocker.htm">Using the StructureMap AutoMocker</a></li>
    <li><a href="Diagnostics.htm">Diagnostics and Environment Tests</a><ul>
        <li>Error Codes</li>
        </ul>
    </li>
    <li><a href="HowDoesStructureMapWork.htm">How does StructureMap Work?</a><ul>
        <li><a href="ConstructorAndSetterInjection.htm">Constructor and Setter Injection</a></li>
        <li><a href="AutoWiring.htm">AutoWiring</a></li>
        </ul>
    </li>
        <ul>
            <li><a href="Generics.htm">StructureMap and Generics</a></li>
            <li><a href="RuntimeArchitecture.htm">Runtime Architecture</a></li>
            <li><a href="UsingSessionContext.htm">Using the Session Context</a></li>
            <li><a href="ExtendingStructureMap.htm">Extending StructureMap</a></li>
            <li><a href="UsingTheContainerOutsideOfObjectFactory.htm">Using the Container 
            Outside of ObjectFactory</a></li>
        </ul>
    <li>Examples (Forthcoming)<ul>
        <li>Bootstrapping NHibernate</li>
        <li>Modular Configuration</li>
        <li>Aspect Oriented Programming</li>
        <li>A Logging Facility</li>
        <li>Pluggable Rules Engine</li>
        <li>Pluggable Validation</li>
        <li>Composite View</li>
        <li>Optional Deployment Configurations</li>
        <li>Using StructureMap to Configure Prism</li>
        <li>Using StructureMap with the ASP.Net MVC Framework</li>
        <li>Using StructureMap with MassTransit</li>
        <li>Using StructureMap with WCF</li>
        <li>Creating Custom Specification Contexts with the AutoMocker</li>
        </ul>
    </li>
</ul>

	</div>
	<div class="right-column">

	{{ content }}

	</div>
	</body>
</html>