

BODY
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 12pt
}
H1
{
    COLOR: #316592;
    FONT-FAMILY: Arial;
    FONT-SIZE: x-large;
    FONT-WEIGHT: bold
}
H2
{
	BACKGROUND-COLOR: #316592; 
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: large;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 70%;
    PADDING: 5px;
    
}
H3
{
	BACKGROUND-COLOR: #316592; 
    COLOR: white;
    FONT-SIZE: large;
    FONT-WEIGHT: 500;
    PADDING: 5px;
}
H4
{
    COLOR: #316592;
    FONT-FAMILY: Arial;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
P
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: normal
}
LEGEND
{
    FONT-FAMILY: Arial;
    COLOR: #316592;
    FONT-WEIGHT: bold
}

.form
{
    BACKGROUND-COLOR: #CCCC99;
    BORDER: #316592 solid thin;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    COLOR: #316592
}

.form DIV
{
    BACKGROUND-COLOR: #CCCC99;
    BORDER: #316592 solid thin;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    COLOR: #316592
}

.form TABLE
{
    FONT-WEIGHT: bold;
    COLOR: #316592
}

.HeadingClass
{
    COLOR: #316592;
    FONT-FAMILY: Arial;
    FONT-SIZE: large;
    FONT-WEIGHT: bold
}




.DispTab {}
.DispTab TABLE
{
    BORDER: Navy groove;
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 8pt
}
.DispTab THEAD
{
    BACKGROUND-COLOR: #316592;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.DispTab TD
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 10pt;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
}
.DispTab TH
{
    BACKGROUND-COLOR: #316592;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}

INPUT
{
    FONT-SIZE: xx-small;
    COLOR:  #316592; 
}
SELECT
{
    FONT-SIZE: xx-small;
    COLOR:  #316592; 
}
TEXTAREA
{
    FONT-SIZE: xx-small;
    COLOR:  #316592; 
}

.schema-table
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 10pt;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;	
}
.schema-table TABLE
{
    BORDER: Navy groove;
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 8pt
}
.schema-table THEAD
{
    BACKGROUND-COLOR: #316592;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.schema-table TD
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 10pt;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
}
.schema-table TH
{
    BACKGROUND-COLOR: #316592;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}

.code-sample
{
	border-right: navy thin solid;
	border-top: navy thin solid;
	border-left: navy thin solid;
	color: black;
	border-bottom: navy thin solid;
	background-color: gainsboro;
	PADDING: 5px;
}

.xml-sample
{
	border-right: navy thin solid;
	border-top: navy thin solid;
	border-left: navy thin solid;
	border-bottom: navy thin solid;
	PADDING: 5px;
}